* {
  font-family: Helvetica, sans-serif;
  color: white;
}

body {
  background-color: rgb(20, 20, 24);
  background-image: url(./NoFrameVetor.png);
  background-repeat: no-repeat;
  background-size: 110px;
  background-position-y: 450px;
  background-position-x: 890px;
  padding: 0;
  margin: 0;
}
.container2 {
  width: 500px;
  background-color: rgb(25, 25, 29);
  text-align: center;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 10px;
  display: inline-block;
  padding: 20px;
  margin: 5rem;
}

input {
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: rgb(50, 50, 54);
  color: white;
  text-align: center;
  margin: 10px;
}

.titulo {
  padding: 20px;
  margin: 0;
  font-size: 30px;
}

.jogo {
  font-size: 20px;
}
.jogo2 {
  font-size: 20px;
  margin-top: 20px;
}
.flutuantes {
  text-align: center;
  margin-top: 30px;
}

#resposta1 {
  color: rgb(50, 50, 54);
  font-size: 13px;
  font-weight: 400;
  background-color: rgb(50, 50, 54);
  width: 150px;
  height: 13px;
  margin: auto;
  border-radius: 50px;
  padding: 15px;
}
#resposta2 {
  color: rgb(50, 50, 54);
  font-size: 13px;
  font-weight: 400;
  background-color: rgb(50, 50, 54);
  width: 150px;
  height: 13px;
  margin: auto;
  border-radius: 50px;
  padding: 15px;
}
.calcBTN {
  border: 2px solid rgb(80, 80, 90);
  border-radius: 0px;
  width: 80px;
}
.calcBTN:hover {
  cursor: pointer;
}
.calcBTN:active {
  background-color: rgb(80, 80, 90);
  border: 2px solid rgb(50, 50, 54);
}
#cabecao {
  background-color: rgb(25, 25, 30);
  height: 60px;
  border-bottom: 2px solid rgb(50, 50, 54);
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 30px;
  padding-bottom: 80px;
}
.Logo {
  margin-top: 0;
  width: 40px;
  margin-right: 30px;
}
.x{
  width: 35px;
  margin-left: 20px;
}
.Logo2 {
  margin-top: 0;
  width: 80px;
  margin-left: 30px;
}
.cabecalho {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 15px;
}
hr{
    border: 2px solid rgb(50, 50, 54);
}